<!--<div class="headerButtons" style="text-align: center;">
	<a class="btn btn-info" onclick="progressJs().start();">Start <small>start()</small></a>
	<a class="btn btn-info" onclick="progressJs().increase(5);">Increase <small>increase(5)</small></a>
	<a class="btn btn-info" onclick="progressJs().set(50);">Set <small>set(50)</small></a>
	<a class="btn btn-info" onclick="progressJs().end();">End <small>end()</small></a>
</div>-->
<!-- Intro Header -->
<header class="intro intro_agency">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="brand-heading">Toan Duong</h4>
                    <p class="intro-text">Hi, I'm Toan Duong, a front-end developer based on Vietnam. <br>Specialist on web application and hybrid application.</p>
                    <a href="#" ng-click="goToArea('about', $event)" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div>
        <h4 class="heading wow fadeInDown">A Little About Me</h4>
        <div class="line_grey"></div>
    </div>
    
    <div class="row">
        <div class="col-md-6 wow fadeInLeft">
            <div class="about_des">
                Monotonectally conceptualize go forward relationships and effective paradigms. Uniquely build team building convergence rather than progressive manufactured products. Quickly build professional web services through cross functional vortals. Synergistically transform functionalized e-markets through performance based human capital. Energistically engage global core competencies vis-a-vis superior architectures.
                <br/>
                <br/>
                Holisticly foster process-centric core competencies whereas impactful meta-services. Seamlessly evisculate accurate leadership vis-a-vis highly efficient users. Authoritatively grow multifunctional action items and competitive processes. Collaboratively maximize resource sucking.
                <br/>
                <br/>
             </div>
             
        </div>
        <div class="col-mid-6 wow fadeInRight" >
            <img class="about_img" src="../imgs/showcase.png"></img>
        </div>
    </div>
</section>

<!-- Space section -->
<section class="light-gray-bg pv-20">
</section>

<!-- Skills Section -->
<section id="skills" class="container content-section text-center">
    <div>
        <h4 class="heading wow fadeInDown">Skills</h4>
        <div class="line_grey"></div>
    </div>
    <div class="row wow fadeInDown">
        <div class="col-md-4">
            <div class="skill_item">
                <div class="header_item_skill">.NET</div>
                <div id="activeBorder0" class="active-border">
                    <div id="circle0" class="circle">
                        <span class="prec 270" id="prec0">0%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="skill_item">
                <div class="header_item_skill">PHP</div>
                <div id="activeBorder1" class="active-border">
                    <div id="circle1" class="circle">
                        <span class="prec 190" id="prec1">0%</span>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="skill_item">
                <div class="header_item_skill">NodeJS</div>
                <div id="activeBorder2" class="active-border">
                    <div id="circle2" class="circle">
                        <span class="prec 250" id="prec2">0%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row wow fadeInDown">
        <div class="col-md-4">
            <div class="skill_item">
                <div class="header_item_skill">AngularJS</div>
                <div id="activeBorder3" class="active-border">
                    <div id="circle3" class="circle">
                        <span class="prec 300" id="prec3">0%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="skill_item">
                <div class="header_item_skill">HTML5/CSS</div>
                <div id="activeBorder4" class="active-border">
                    <div id="circle4" class="circle">
                        <span class="prec 270" id="prec4">0%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="skill_item">
                <div class="header_item_skill">SQL/Mongo</div>
                <div id="activeBorder5" class="active-border">
                    <div id="circle5" class="circle">
                        <span class="prec 270" id="prec5">0%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<!-- Space section -->
<section class="light-gray-bg pv-20">
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div>
        <h4 class="heading wow fadeInDown">Contact Me</h4>
        <div class="line_grey"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            <p class="text_contact">
                Have a project you'd like to discuss? <strong>Please contact me</strong>
            </p>
             <ul class="list-contacts">
				<li><i class="fa fa-phone margin_right_18"></i>090 828 7500</li>
				<li><i class="fa fa-skype margin_right_18"></i>manhtoan.86</li>
				<li><i class="fa fa-map-marker margin_right_18"></i> Tan Binh, Ho Chi Minh Vietnam</li>
				<li><i class="fa fa-envelope-o margin_right_18"></i> <a href="mailto:duongmanhtoan86@gmail.com">duongmanhtoan86@gmail.com</a></li>
			</ul>
        </div>
        <div class="col-sm-6 wow fadeInRight">
            <div class="col-sm-6">
                <input type="text" name="name" class="form-control" placeholder="Name" data-bv-field="name"
                    ng-model="contact.name">
            </div>
            <div class="col-sm-6">
                <input type="text" name="contactEmail" class="form-control" placeholder="Email" data-bv-field="contactEmail"
                    ng-model="contact.email">
            </div>
            <div class="col-sm-12 margin-top">
                <textarea name="message" class="form-control" rows="8" placeholder="Message" data-bv-field="message"
                    ng-model="contact.description"></textarea>
            </div>
            <div class="col-sm-12 margin-top">
                <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left" ng-click="sendMailContact()">
				    <span class="ladda-label">Submit</span>
				</button>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            <span class="copy_right">Copyright © 2015 ToanDuong. All rights reserved.</span>
        </div> 
        <div class="col-sm-6 wow fadeInRight">
            <div class="social">
							<a href="https://www.facebook.com/manhtoan.duong.1" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
							<a href="#" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
					</div>
        </div>
      </div>
        
    </div>
</footer>

